/*
    Recommeded CSS
    ==============
*/
@import url(https://fonts.googleapis.com/css?family=Lora|Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*
    Demo Specific Styles
    ====================
*/

#bigslide {
    font-family: 'Indie Flower', sans-serif;
    color: #101820;
    line-height: 3;


}

.wrap {
    position: relative;
    max-width: 200px;
    margin: 0;
    padding: 20px;

}

.panel {
    background: rgb(52,152,168);
      font-size: 30px;
      text-align: center;

}
.panel ul {
  padding: 5px;
  width: 200px;
  margin:20px;

}
.panel li {

}

.panel a {

    color: #fff;

}
