@import url(https://fonts.googleapis.com/css?family=Lora|Roboto+Slab);
body {
font-family: "Lora",serif;
font-size:17px;
color: #222;
background-color: #F2DBA4;
background-image: url(http://www.transparenttextures.com/patterns/arches.png);

}
#square {
max-width:900px;
min-width:400px;
margin:0 auto;
background-color: #FBF5E6;
border: 2px solid rgb(255,255,255);
}

#education{
  line-hight:3px;
}

.first-list {
  display: inline;
}
address{
  padding-bottom: 1em;
}
nav {
  text-align: center;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
  margin-left: 2em;
  margin-right: 2em;
}

section{
  border-bottom: 2px solid #222;
  margin: 2em;
}

img {
  border:1px solid #999;

}

a {
  color:rgb(68,168,182);
}
a:hover{
  color:rgb(173,210,241);
}

a:visited {
  color: rgb(223,159,67);
}

header{
text-align:center;
}

h1{
  color: rgb(68,168,182);
}

h2 {
color:rgb(68,168,182);
}

h1,h2 {
  font-family: "Roboto+Slab",serif;

}

article {
  padding-right: 300px;
}

article p{
  margin-top: -1em;
}
.date {
  padding-left: 2.7em;
  font-size: 14px;
}

footer {
  margin-top: -1em;
  padding-bottom: 1em;
  padding-left: 4.3em;
}
