/*
    Recommeded CSS
    ==============
*/

.panel {
    position: fixed;
    left: -15.625em; /*or width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

/*
    Demo Specific Styles
    ====================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(48,166,103);
    line-height: 1.5;
}

.wrap {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.panel {
    background-color:rgb(48,166,103);
}

.panel a {
    background-color: rgb(52,152,168);
}
